general:
  log_rate: "1m"
  log_unknown_devices: false
  max_datapoint_staleness: "2m"

devices:
  ruuvi_tag:
    - mac: "89:75:AE:8B:52:D9"
      human_name: "Living Room"
    - mac: "47:36:DA:4A:9F:F6"
      human_name: "Bedroom"

http:
  enable: true
  listen: ":80"

database:
  path: "/usr/local/ruuvi2db/data.boltdb"
  retention_window: "8760h"

bluetooth:
  watchdog_timeout: 5m
